[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bump2version = "*"
wheel = "*"
watchdog = "*"
pip = "*"
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
hypothesis = "*"

[dev-packages]
hypothesis = "*"
